body {
  background: linear-gradient(
    106deg,
    #5281f8 5.11%,
    rgba(140, 0, 189, 0.56) 88.44%
  );
}

.form {
  max-width: 546px;
  background-color: #fff;
  border-radius: 8px;
  margin-inline: auto;
  text-align: center;
  margin-top: 226px;
  margin-bottom: 158px;
  padding: 88px 70px 80px 70px;

  @include mobile {
    padding: 30px;
    border-radius: 0%;
    margin-top: 50px;
    margin-bottom: auto;
  }

  &__title {
    color: $text-color;
    font-family: $ff;
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 12px;
    @include mobile {
      font-size: 26px;
    }
  }

  &__descript {
    color: $text-color;
    font-family: $ff;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 60px;
    opacity: 0.6;
    @include mobile {
      font-size: 11px;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
    margin-bottom: 30px;
    .forgot {
      color: $text-color;
      font-family: $ff;
      font-size: 13px;
      font-weight: 600;
      opacity: 0.5;
    }
  }
}

.field:first-of-type {
  margin-bottom: 23px;
}

.field {
  display: block;
  position: relative;

  &__input {
    width: 100%;
    border-radius: 8px;
    border: 1px solid $text-color;
    padding: 24px 58px 24px 72px;

    color: $text-color;
    font-family: $ff;
    font-size: 13px;
    font-weight: 600;
    outline: none;
  }

  &__user,
  &__key {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 33px;
  }

  &__eye {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  border-radius: 8px;
  background: #5381f8;
  color: #fff;
  font-family: $ff;
  font-size: 15px;
  font-weight: 600;
  padding: 23px 46px;
  width: 100%;
  margin-bottom: 32px;
  transition: 0.2s all ease-in-out;

  &:hover {
    background: darken($color: #c654d5, $amount: 10%);
  }
}

.sign {
  color: #03014c;
  font-family: $ff;
  font-size: 13px;
  font-weight: 400;

  &_up {
    color: #5381f8;
    font-family: $ff;
    font-size: 13px;
    font-weight: 700;
  }
}

.checkbox {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;

  &__input {
    display: none;
  }

  .checkbox__input:checked ~ .checkbox__box {
    background-color: #5381f8;
    border: 1px solid rgba(83, 129, 248, 1);
    color: rgba(255, 255, 255, 1);
  }

  &__box {
    width: 15px;
    height: 15px;
    border: 1px solid rgba(3, 1, 76, 1);
    border-radius: 50%;
    color: rgba(255, 255, 255, 0);
    transition: 0.5s all ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }

  &__label {
    color: $text-color;
    font-family: $ff;
    font-size: 13px;
    font-weight: 600;
    opacity: 0.6;
  }
}
